{% extends 'base.html' %}

{% block title %} SGE - Detalhes do Produto {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6">Detalhes do Produto</h3>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ product.title }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>{{ product.brand }}</strong></p>
                <p class="card-text"><strong>{{ product.category }}</strong></p>
                <p class="card-text"><strong>{{ product.description }}</strong></p>
                <p class="card-text"><strong>Número de Série:</strong> {{ product.serial_number }}</p>
                <p class="card-text"><strong>Preço de Custo:</strong> R$ {{ product.cost_price }}</p>
                <p class="card-text"><strong>Preço de Venda:</strong> R$ {{ product.sell_price }}</p>
                <p class="card-text"><strong>Quantidade:</strong> {{ product.quantity }}</p>
                <p class="card-text"><strong>Criado em:</strong> {{ product.created_at }}</p>
                <p class="card-text"><strong>Atualizado em:</strong> {{ product.updated_at }}</p>
                <div class="card-footer">
                    <a href="{% url 'product_update' product.id %}" class="btn btn-warning">
                        <i class="bi bi-pencil"> </i> Editar
                    </a>
                    <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Excluir
                    </a>
                    <a href="{% url 'product_list' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}