{% extends 'base.html' %}

{% block title %} SGE - Detalhes do Produto {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6">Detalhes do Produto</h3>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ object.title }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>{{ object.brand }}</strong></p>
                <p class="card-text"><strong>{{ object.category }}</strong></p>
                <p class="card-text"><strong>{{ object.description }}</strong></p>
                <p class="card-text"><strong>Número de Série:</strong> {{ object.serial_number }}</p>
                <p class="card-text"><strong>Preço de Custo:</strong> R$ {{ object.cost_price }}</p>
                <p class="card-text"><strong>Preço de Venda:</strong> R$ {{ object.sell_price }}</p>
                <p class="card-text"><strong>Quantidade:</strong> {{ object.quantity }}</p>
                <p class="card-text"><strong>Criado em:</strong> {{ object.created_at }}</p>
                <p class="card-text"><strong>Atualizado em:</strong> {{ object.updated_at }}</p>
                <div class="card-footer">
                    {% if perms.products.change_product %}
                        <a href="{% url 'product_update' object.id %}" class="btn btn-warning">
                            <i class="bi bi-pencil"> </i> Editar
                        </a>
                    {% endif %}
                    {% if perms.products.delete_product %}
                        <a href="{% url 'product_delete' object.id %}" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Excluir
                        </a>
                    {% endif %}
                    <a href="{% url 'product_list' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}