{% extends 'base.html' %}

{% block title %} SGE - Detalhes da Marca {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h3 class="display-6">Detalhes da Marca</h3>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ object.name }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>{{ object.description }}</strong></p>
                <p class="card-text"><strong>Criado em:</strong> {{ object.created_at }}</p>
                <p class="card-text"><strong>Atualizado em:</strong> {{ object.updated_at }}</p>
                <div class="card-footer">
                    {% if perms.brands.change_brand %}
                        <a href="{% url 'brand_update' object.id %}" class="btn btn-warning">
                            <i class="bi bi-pencil"> </i> Editar
                        </a>
                    {% endif %}
                    {% if perms.brands.delete_brand %}
                        <a href="{% url 'brand_delete' object.id %}" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Excluir
                        </a>
                    {% endif %}
                    <a href="{% url 'brand_list' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}